* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a:focus, a:active,
:focus, :active {
  outline: none;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 700;
  background: #1b1b1b;
}

.container {
  max-width: 1920px;
  background: url(../img/bg.png) top center/cover no-repeat;
  background-color: #27282c;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: space-between;
}

.btn__active {
  background: #29aae1;
  color: #27282c;
}

.status__active {
  color: #0ff;
}
.status__active div {
  background-color: #0ff;
}

.item__active button, .item__active div {
  background: #2b98cc;
  color: #fff;
}

a:focus-visible, button:focus-visible {
  border: 4px solid #0ff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: #27282c;
  color: #8f8f8f;
  font-size: 16px;
  box-shadow: -3px -5px 8px 0 #313439, 3px 5px 8px 0 #1d1e21, inset 0 1px 8px 0 rgba(29, 30, 33, 0.2);
  height: 60px;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__water-icon {
  margin-left: 37px;
}
.header__line {
  width: 1px;
  height: 60px;
  background: #8f8f8f;
  margin-left: 24px;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__date {
  text-transform: uppercase;
}
.header__user {
  display: flex;
  align-items: center;
  margin-left: clamp(0.938rem, -7.438rem + 16.75vw, 5.125rem);
  font-family: var(--second-family);
  font-weight: 400;
}

.user__icon {
  margin-left: 10px;
}
.nav {
  padding-top: 25px;
  background: rgba(39, 40, 44, 0.8);
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.nav__top {
  height: 100%;
}
.nav__map {
  width: clamp(300px, 4.904rem + 69.23vw, 390px);
  height: 60px;
  background: #2b98cc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__menu {
  font-size: 16px;
  text-transform: uppercase;
  overflow-y: scroll;
  scrollbar-color: rgba(39, 40, 44, 0.5) #2b98cc;
  scrollbar-width: thin;
}
.nav__menu-item {
  gap: 20px;
  margin-top: 20px;
}
.nav__bottom {
  background: #27282c;
  width: clamp(300px, 4.904rem + 69.23vw, 390px);
  height: 86px;
  padding: 11px 0 0 21px;
  font-weight: 400;
  font-size: 16px;
  color: #8f8f8f;
  display: flex;
  gap: 20px;
}

.search-form {
  background: rgba(39, 40, 44, 0.5);
  width: clamp(300px, 4.904rem + 69.23vw, 390px);
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.search-form__txt {
  width: 344px;
  height: 50px;
  background: rgba(39, 40, 44, 0.5);
  padding-left: 42px;
}
.search-form__txt::-moz-placeholder {
  font-size: 16px;
  color: #fff;
}
.search-form__txt::placeholder {
  font-size: 16px;
  color: #fff;
}
.search-form__btn {
  width: 110px;
  height: 50px;
  background: #27282c;
}

.menu-item__wrap {
  display: flex;
  gap: 20px;
}
.menu-item__btn {
  border-radius: 0 15px 15px 0;
  width: 260px;
  height: 50px;
  background: #27282c;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
  color: #8f8f8f;
}
.menu-item__arrow {
  width: 8px;
}
.menu-item__img-bg {
  width: 57px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #27282c;
  border-radius: 15px;
}
.menu-item__img {
  width: 23px;
  height: 31px;
}

.list__item {
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 21px;
  font-weight: 400;
  display: flex;
  align-items: center;
  border-radius: 0 15px 15px 0;
  width: clamp(280px, 12.104rem + 24.67vw, 317px);
  height: 30px;
  background: rgba(39, 40, 44, 0.5);
}

.display-none {
  display: none;
}

.bottom__all {
  border-radius: 10px;
  width: 239px;
  height: 32px;
  box-shadow: inset 0 5px 6px 0 #1e1f22, inset 0 -2px 4px 0 #2f3338;
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.bottom__number {
  border-radius: 10px;
  width: 57px;
  height: 32px;
  box-shadow: inset 0 5px 6px 0 #1e1f22, inset 0 -2px 4px 0 #2f3338;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  flex-direction: column;
}
.about__wrapper {
  border-radius: 15px;
  width: clamp(18.75rem, 8.75rem + 50vw, 58.75rem);
  box-shadow: -3px -5px 8px 0 #313439, 3px 5px 8px 0 #1d1e21, inset 0 1px 8px 0 rgba(29, 30, 33, 0.2);
  background: #27282c;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #8f8f8f;
  flex-direction: column;
  margin-top: 70px;
}
.about__wrap {
  padding: 32px clamp(0.625rem, -0.469rem + 5.47vw, 5rem) 0 clamp(0.625rem, -0.469rem + 5.47vw, 5rem);
}
.about__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__back {
  box-shadow: inset 0 5px 6px 0 #1e1f22, inset 0 -2px 4px 0 #2f3338;
}
.about__status-bell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.about__pump {
  padding: 21px 27px;
  border-radius: 10px;
  width: clamp(280px, 8.804rem + 43.48vw, 380px);
  height: 105px;
  margin-top: 21px;
}
.about__sensors {
  margin-top: 24px;
}
.about__front {
  box-shadow: -3px -5px 8px 0 #313439, 3px 5px 8px 0 #1d1e21, inset 0 1px 8px 0 rgba(29, 30, 33, 0.2);
}
.about__bottom {
  border-radius: 0 0 15px 15px;
  width: 100%;
  height: 58px;
  background: #1b1b1b;
  padding: 10px clamp(5px, -2.5rem + 15vw, 80px);
  text-transform: uppercase;
  margin-top: 20px;
}

.caption__img {
  width: 25px;
}
.caption__time {
  width: 140px;
  border-radius: 10px;
  height: 32px;
  justify-content: center;
  margin-left: 21px;
}

.right__user-name {
  border-radius: 10px;
  width: clamp(262px, 12.683rem + 18.46vw, 286px);
  height: 32px;
  box-shadow: -3px -5px 8px 0 #313439, 3px 5px 8px 0 #1d1e21, inset 0 1px 8px 0 rgba(29, 30, 33, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.status__block {
  border-radius: 10px;
  width: clamp(280px, 8.804rem + 43.48vw, 380px);
  height: 105px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  text-align: center;
  padding: 11px 17px;
}
.status__title {
  grid-column: 1/3;
}
.status__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.status__circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #8f8f8f;
}

.bell {
  border-radius: 10px;
  width: 380px;
  height: 98px;
}
.bell__element {
  width: clamp(262px, 12.683rem + 18.46vw, 286px);
  margin-left: 32px;
}
.bell__block {
  padding: 21px 0 21px 27px;
}
.bell__img {
  width: 30px;
}
.bell__column {
  border-radius: 10px;
  width: 56px;
  height: 96px;
  box-shadow: -3px -5px 8px 0 #313439, 3px 5px 8px 0 #1d1e21, inset 0 1px 8px 0 rgba(29, 30, 33, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.bell__figure {
  width: 25px;
}
.bell__number {
  font-weight: 700;
  font-size: 14px;
  padding-top: 10px;
  width: 40px;
  border-top: 2px solid #1b1b1b;
  text-align: center;
}

.pump-1__number {
  margin-left: 8px;
}
.pump-1__time {
  margin-left: 8px;
}

.pump__column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161px;
}
.pump__img {
  width: 31px;
}
.pump__row {
  margin-left: 23px;
}
.pump__title {
  line-height: 118%;
  margin-bottom: 14px;
}
.pump__number-block {
  margin-bottom: 6px;
}
.pump__name {
  box-shadow: -3px -5px 8px 0 #313439, 3px 5px 8px 0 #1d1e21, inset 0 1px 8px 0 rgba(29, 30, 33, 0.2);
  border-radius: 15px;
  width: 140px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.pump-2__number {
  margin-left: 8px;
}
.pump-2__time {
  margin-left: 8px;
}

.sensors__block {
  padding: 20px 20px 0 20px;
  border-radius: 15px;
  width: clamp(120px, 4.731rem + 13.85vw, 138px);
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sensors__lock-electric {
  padding: 0;
}
.sensors__lock {
  width: clamp(120px, 4.731rem + 13.85vw, 138px);
  height: 118px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  font-weight: 700;
}
.sensors__electric {
  padding: 6px 18px;
  border-radius: 15px;
  width: clamp(120px, 4.731rem + 13.85vw, 138px);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
}
.sensors__cup {
  padding: 0;
  width: 138px;
  height: 238px;
  font-size: 16px;
  font-weight: 700;
}

.speed__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 16px;
}
.speed__number {
  margin-top: 16px;
}
.speed__bottom {
  display: flex;
}
.speed__section {
  width: 46px;
  height: 45px;
  box-shadow: inset 0 5px 6px 0 #202020;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speedometer {
  width: 100px;
  height: 50px;
  margin-top: 20px;
}

.temp__img {
  width: 21px;
}
.temp__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 16px;
}
.temp__number {
  margin-top: 16px;
}
.temp__bottom {
  display: flex;
}
.temp__section {
  width: 69px;
  height: 45px;
  box-shadow: inset 0 5px 6px 0 #202020;
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume {
  justify-content: center;
}
.volume__img {
  width: 100px;
  margin-left: 7px;
}
.volume__bottom {
  text-align: center;
  margin-top: 8px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  line-height: 1.5em;
}
.lock__section {
  height: 45px;
  box-shadow: inset 0 5px 6px 0 #202020;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lock__section:first-child {
  border-radius: 0 0 0 15px;
}
.lock__section:last-child {
  border-radius: 0 0 15px 0;
}

.electrick__img {
  width: 26px;
}
.electrick__number {
  border-radius: 10px;
  width: 102px;
  height: 32px;
  box-shadow: inset 0 5px 6px 0 #1e1f22, inset 0 -2px 4px 0 #2f3338;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cup__item {
  border-radius: 15px;
  width: 140px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-footer__icon {
  display: flex;
  justify-content: center;
  margin-top: 42px;
}
.about-footer__img {
  width: 50px;
}
.about-footer__wrap {
  display: flex;
  margin-top: 42px;
  margin-bottom: 70px;
}
.about-footer__line {
  width: 8px;
  height: 80px;
  background-color: #fff;
  transform: skewX(-45deg);
  margin-right: 22px;
}
.about-footer__text {
  width: clamp(300px, -37.5rem + 100vw, 800px);
  height: 80px;
  background-color: rgba(39, 40, 44, 0.7);
  font-weight: 900;
  font-style: italic;
  font-size: clamp(1.125rem, -1.35rem + 4.4vw, 2.5rem);
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 0 16px 52px;
  transform: skewX(-45deg);
}
.about-footer__text p {
  transform: skewX(45deg);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar__block {
  margin-top: 40px;
  border-radius: 15px 0 0 15px;
  background: rgba(39, 40, 44, 0.8);
}
.sidebar__block:first-child {
  margin-top: 0;
}
.sidebar__element {
  width: clamp(40px, -0.577rem + 15.38vw, 60px);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1600px) {
  .about__caption, .about__status-bell,
  .about__pump-all {
    flex-direction: column;
    margin-top: 15px;
    gap: 20px;
  }
  .about__sensors {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1440px) {
  .main {
    flex-direction: column;
  }
  .about {
    display: flex;
    align-items: center;
  }
  .sidebar {
    flex-direction: row;
  }
  .sidebar__block {
    display: flex;
    border-radius: 15px 15px 0 0;
    height: 70px;
    margin: 0 20px 0 0;
  }
  .nav__top-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__bottom {
    height: 55px;
    margin-top: 10px;
    margin-left: auto;
  }
}
@media (max-width: 1100px) {
  .nav__top-wrap {
    flex-direction: column;
    gap: 0;
  }
  .nav__menu {
    flex-direction: column;
  }
  .about__bottom {
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .header {
    flex-direction: column;
    height: auto;
    justify-content: space-between;
  }
  .header__left {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  .bell {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
    padding: 0;
    height: auto;
  }
  .bell__element {
    margin: 0;
  }
  .status__block {
    display: block;
  }
  .status__row {
    margin-bottom: 5px;
  }
  .about {
    margin-bottom: 20px;
  }
  .about__footer {
    display: none;
  }
  .menu-item__btn {
    width: 240px;
  }
}
.nav {
  width: auto;
}