.nav {
    padding-top: 25px;
    background: rgba(39, 40, 44, 0.8);
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;

    &__top{
        height: 100%;
    }

    &__map {
        width: clamp(300px, 4.904rem + 69.23vw, 390px);  //300-390,  v 320-450
        height: 60px;
        background: #2b98cc; 
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    &__map-icon {
    }

    &__menu {
        font-size: 16px;
        text-transform: uppercase;
        overflow-y: scroll;
        scrollbar-color: rgba(39, 40, 44, 0.5) #2b98cc;
        scrollbar-width: thin;
    }

    &__menu-item {
        gap: 20px;
        margin-top: 20px; 
    }


    &__list {
    }

    &__bottom {
        background: #27282c;
        width: clamp(300px, 4.904rem + 69.23vw, 390px);//300-390,  v 320-450
        height: 86px;
        padding: 11px 0 0 21px;
        font-weight: 400;
        font-size: 16px;
        color: #8f8f8f;
        display: flex;
        gap: 20px;
    }
}

.search-form {
    background: rgba(39, 40, 44, 0.5);
    width: clamp(300px, 4.904rem + 69.23vw, 390px); //300-390,  v 320-450
    height: 50px;
    display: flex;
    align-items: center; 
    margin-top: 20px; 

    &__txt {
        width: 344px;
        height: 50px;
        background: rgba(39, 40, 44, 0.5); 
        padding-left: 42px;
        &::placeholder{
            font-size: 16px;
            color: #fff;
        }
    }

    &__btn {
        width: 110px;
        height: 50px;
        background: #27282c;   
    }
}
.menu-item {
    &__wrap{
        display: flex;
        gap: 20px;
    }

    &__btn {
        border-radius: 0 15px 15px 0;
        width: 260px;
        height: 50px;
        background: #27282c;
        display: flex;
        align-items: center;
        gap: 15px;
        padding-left: 15px;
        color: #8f8f8f;
    }

    &__arrow{
        width: 8px;
    }
    &__img-bg{
        width: 57px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #27282c;
        border-radius:15px;
    }

    &__img {
        width: 23px;
        height: 31px;
    }
}
.list {

    &__item {
        margin-top: 10px;
        margin-left: 20px; 
        padding-left: 21px;
        font-weight: 400;
        display: flex;
        align-items: center;
        border-radius: 0 15px 15px 0;
        width: clamp(280px, 12.104rem + 24.67vw, 317px);  //280-317 v 350-500
        height: 30px;
        background: rgba(39, 40, 44, 0.5);
    }
}
.item {

    &__link {
    }
}

.display-none{
    display: none;
}

.bottom {

    &__all{
        border-radius: 10px;
        width: 239px;
        height: 32px;
        box-shadow: inset 0 5px 6px 0 #1e1f22, inset 0 -2px 4px 0 #2f3338;
        display: flex;
        align-items: center;
        padding-left: 8px;
    }

    &__number{
        border-radius: 10px;
        width: 57px;
        height: 32px;
        box-shadow: inset 0 5px 6px 0 #1e1f22, inset 0 -2px 4px 0 #2f3338;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

